@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&family=Style+Script&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@font-face {
  font-family: "Lemon/Milk light Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Lemon/Milk light Regular"),
    url("./fonts/LemonMilklight.woff") format("woff");
}
@font-face {
  font-family: "Abnormal Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Abnormal Regular"),
    url("./fonts/AbnormalRegular.otf") format("opentype");
}
@font-face {
  font-family: "Abnormal";
  font-style: normal;
  font-weight: normal;
  src: local("Abnormal"), url("./fonts/AbnormalBold.otf") format("opentype");
}
@font-face {
  font-family: "Coolvetica";
  font-style: normal;
  font-weight: normal;
  src: local("Coolvetica"), url("./fonts/Coolvetica.woff") format("woff");
}
@font-face {
  font-family: "Bebas";
  font-style: normal;
  font-weight: normal;
  src: local("Bebas"), url("./fonts/Bebas.woff") format("woff");
}

* {
  font-family: "Coolvetica";
}

body {
    background: linear-gradient(to left, #923cb5, #000000)
}

.navbar {

  width: 100%;
  height: 5vw;
  padding-bottom: 3%;

  top: 0;
    background: linear-gradient(to left, #923cb5, #000000)
  /* backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px); */
}

.navbar-brand {
  font-family: 'Montserrat', sans-serif;
  color: #fff;
    padding-left: 10%;
  font-size: 3vw;
  margin-top: 10px;
  text-decoration: none;
}

/* .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
} */



/* .nav-link {
  list-style: none;
  display: inline-block;
  padding: 1vw 1.5vw;
  padding-top: 0px;
  position: relative;
  font-weight: bold;
} */
.navbar-nav{
  margin-top: 15px;
    margin-left: 0px;
}

.container-fluid{
  display:flex;
padding-top: 30px;
}

.nav-link {
  text-decoration: none;
  font-size: 1.4rem;
  color: #fff;
  font-family: 'Abnormal', sans-serif;
  padding-left: 10px;
}

.webapp {
  margin-left: 28vw;
  margin-top: 3vw;
  padding-left: 0.8vw;
  padding-right: 0.8vw;
  padding-top: 0.5vw;
  padding-bottom: 0.5vw;
  border-radius: 30px;
  border: 3px solid #333;
  background-color: #333;
  text-align: right;
}

hr.line {
  margin-top: -10px;
  border: 0.5px solid rgba(255, 255, 255, 0.1);
}

.img1 {
  padding-top: 3vw;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  float: left;
}

.coin-image1{
  height: 300px;
  width: 300px;
  margin-top: -15%;
  margin-left: 60%;
}
.coin-image2{
  height: 150px;
  width: 150px;
  margin-top: -50%;
  margin-bottom: 40%;
  margin-left: 2%;
  opacity: 0.7;
}
.coin-image3{
  height: 400px;
  width: 400px;
  margin-top: -25%;
  margin-left: -14%;
}
.coin-image4{
  height: 150px;
  width: 150px;
  margin-top: -55%;
  margin-bottom: 10%;
  margin-left: 75%;
}
.coin-image5{
  height: 150px;
  width: 150px;
  margin-top: -70%;
  margin-left: 35%;
}


.landing {
  padding-top: 5%;
  display: flex;
  margin-bottom: 2%;
  width: 100%;
  height: 500px;;
  /* background: linear-gradient(to left, #000428, #004e92) */
    /* background: linear-gradient(to left, #1d2671, #c33764) */
      background: linear-gradient(to left, #923cb5, #000000)

}

.header {
  margin-left: 20%;
  width: 60%;
  color: #fff;
  font-family: "Coolvetica";
  font-size: 6vw;
  margin-top: 10%;
}

.coins{
  padding-top: 2%;
  margin-left: -4%;
}

.the-future {
text-align: left;
font-size: 3.8rem;
color: #fff;
margin-left: 25%;
margin-top: 1%;
margin-bottom: 5%;
font-family: 'Ubuntu', sans-serif;
line-height: 65px;
}

.header h1 {
  text-align: center;
  margin-top: -65%;
  margin-left: -10%;
}

.animate {
  width: 70%;
  /* margin-left: -10%; */
  padding-top: 50px;
}

/* .rw-words-1 {
  text-align: center;
} */

.rw-words-1 span {
  font-size: 5.2rem;
  margin-top: -3%;
  margin-left: 12%;
  font-family: 'Abnormal', sans-serif;
  font-weight: 400;
  display: inline-block;
  position: absolute;
  opacity: 0;
  overflow: hidden;
  -webkit-animation: rotateWord 9s linear 0s infinite;
  -moz-animation: rotateWord 9s linear 0s infinite;
  -o-animation: rotateWord 9s linear 0s infinite;
  -ms-animation: rotateWord 9s linear 0s infinite;
  animation: rotateWord 9s linear 0s infinite;
  color:#fc4349;
}

.rw-words-1 span:nth-child(1) {
  -webkit-animation-delay: 0s;
  -moz-animation-delay: 0s;
  -o-animation-delay: 0s;
  -ms-animation-delay: 0s;
  animation-delay: 0s;
  color: #9b59b6;
}

.rw-words-1 span:nth-child(2) {
  -webkit-animation-delay: 1.5s;
  -moz-animation-delay: 1.5s;
  -o-animation-delay: 1.5s;
  -ms-animation-delay: 1.5s;
  animation-delay: 1.5s;
  color: #2ecc71;
}
.rw-words-1 span:nth-child(3) {
  -webkit-animation-delay: 3s;
  -moz-animation-delay: 3s;
  -o-animation-delay: 3s;
  -ms-animation-delay: 3s;
  animation-delay: 3s;
  color: #f1c40f;
}
.rw-words-1 span:nth-child(4) {
  -webkit-animation-delay: 4.5s;
  -moz-animation-delay: 4.5s;
  -o-animation-delay: 4.5s;
  -ms-animation-delay: 4.5s;
  animation-delay: 4.5s;
  color: #fc4349;
}

.rw-words-1 span:nth-child(5) {
  -webkit-animation-delay: 6s;
  -moz-animation-delay: 6s;
  -o-animation-delay: 6s;
  -ms-animation-delay: 6s;
  animation-delay: 6s;
  color: #3498db;
}

.rw-words-1 span:nth-child(6) {
  -webkit-animation-delay: 7.5s;
  -moz-animation-delay: 7.5s;
  -o-animation-delay: 7.5s;
  -ms-animation-delay: 7.5s;
  animation-delay: 7.5s;
  color: #923cb5;
}

@-webkit-keyframes rotateWord {
  0% {
    opacity: 0;
  }
  2% {
    opacity: 0;
    -webkit-transform: translateY(-30px);
  }
  5% {
    opacity: 1;
    -webkit-transform: translateY(0px);
  }
  17% {
    opacity: 1;
    -webkit-transform: translateY(0px);
  }
  20% {
    opacity: 0;
    -webkit-transform: translateY(30px);
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes rotateWord {
  0% {
    opacity: 0;
  }
  2% {
    opacity: 0;
    -moz-transform: translateY(-30px);
  }
  5% {
    opacity: 1;
    -moz-transform: translateY(0px);
  }
  17% {
    opacity: 1;
    -moz-transform: translateY(0px);
  }
  20% {
    opacity: 0;
    -moz-transform: translateY(30px);
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@-o-keyframes rotateWord {
  0% {
    opacity: 0;
  }
  2% {
    opacity: 0;
    -o-transform: translateY(-30px);
  }
  5% {
    opacity: 1;
    -o-transform: translateY(0px);
  }
  17% {
    opacity: 1;
    -o-transform: translateY(0px);
  }
  20% {
    opacity: 0;
    -o-transform: translateY(30px);
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@-ms-keyframes rotateWord {
  0% {
    opacity: 0;
  }
  2% {
    opacity: 0;
    -ms-transform: translateY(-30px);
  }
  5% {
    opacity: 1;
    -ms-transform: translateY(0px);
  }
  17% {
    opacity: 1;
    -ms-transform: translateY(0px);
  }
  20% {
    opacity: 0;
    -ms-transform: translateY(30px);
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes rotateWord {
  0% {
    opacity: 0;
  }
  2% {
    opacity: 0;
    transform: translateY(-30px);
  }
  5% {
    opacity: 1;
    transform: translateY(0px);
  }
  17% {
    opacity: 1;
    transform: translateY(0px);
  }
  20% {
    opacity: 0;
    transform: translateY(30px);
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 2s all ease;
}

.reveal.active {
  transform: translateY(0);
  opacity: 1;
}

.subtext2 {
  color: #fff;
  font-size: 1.1rem;
  text-align: left;
  font-family: 'Ubuntu', sans-serif;
  text-decoration: none;
}
.subtext2:hover{
  color: #fff;
}

.subtext {
  margin-top: 25%;
  margin-left: 25%;
  color: #fff;
  line-height: 25px;
}


.img2 {
  float: right;
}

.savings {
  width: 100%;
  height: 110vh;
background: linear-gradient(to left, #923cb5, #000000)
}

.savings-content{
  display: flex;
  justify-content:center;
  text-align: center;
}
.savings-header {
  color: #fff;
  font-family: 'Ubuntu', sans-serif;
  font-size: 4rem;
  text-align: center;
  padding-top: 10%;
  margin-bottom: 20px;
}

.piggy {
  margin-top: 10%;
  height: 170px;
  width:180px;
}

.piggy:hover{
  scale
}

.earn-18 {
  font-family: "Coolvetica";
  font-size: 1.6rem;
  color: aqua;
  margin-left: 4%;
    margin-top: 10%;
}

.earn-body {
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.3rem;
  color: #fff;
  margin-left: 6%;
  margin-top: 7%;
}

.global {
  margin-top: 20%;
  width: 100%;
  height: 110vh;
  background-color: #333;
}

.global-header {
  color: #fff;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 6vw;
  padding-top: 1%;
  text-align: center;
  padding-top: 10%;
}

.single-18 {
  font-family: "Coolvetica";
  font-size: 6vw;
  color: coral;
  margin-left: 53%;
}

.single-body {
  font-family: "Coolvetica";
  font-size: 2vw;
  color: #fff;
  margin-top: -3%;
  margin-left: 52.5%;
}

.invest {
  width: 100%;
  height: 120vh;
  background-color: #000;
  margin-top: -5%;
}

.invest-header {
  color: #fff;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 6vw;
  padding-top: 1%;
  text-align: center;
  padding-top: 10%;
}

.investment-18 {
  font-family: "Coolvetica";
  font-size: 6vw;
  color: lightblue;
  margin-left: 6%;
}

.investment-body {
  font-family: "Coolvetica";
  font-size: 2vw;
  color: #fff;
  margin-top: -3%;
  margin-left: 6%;
}

.tools {
  width: 100%;
  height: 110vh;
  background-color: #111;
  margin-top: -5%;
}

.tools-header {
  color: #fff;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 6vw;
  padding-top: 1%;
  text-align: center;
  padding-top: 10%;
}

.trade-18 {
  font-family: "Coolvetica";
  font-size: 6vw;
  color: #2ecc71;
  margin-left: 55%;
}

.trade-body {
  font-family: "Coolvetica";
  font-size: 2vw;
  color: #fff;
  margin-top: -3%;
  margin-left: 55%;
}

.services {
  width: 100%;
  height: 110vh;
  background-color: #222;
  margin-top: -5%;
}

.roadmap {
  width: 100%;
  height: 100vh;
  background-color: #000;
  padding-top: -5%;
}

.roadmap-header {
  color: #fff;
  font-family: "Lemon/Milk light Regular";
  font-size: 6vw;
  padding-top: 1%;
  text-align: center;
  padding-top: 2%;
}

.roadmap-card {
  margin-left: -2%;
  width: 95%;
  overflow-x: scroll;
  display: flex;
  background-color: transparent;
  padding: 3vw;
}

.card {
  min-width: 25rem;
  height: 30rem;
  margin-right: 4%;
  border-radius: 10px;
  background-color: transparent;
  border: 2px solid rgb(0, 255, 255);
  display: flex;
  flex-direction: column;
  transition: 1s;
}

.line1 {
  width: 3.2rem;
  margin-top: 55%;
  margin-left: 100%;
  border: 0.5px solid rgb(0, 255, 255);
}

.left {
  width: 33vw;
  margin-top: -13%;
  margin-left: -60%;
}

.right {
  width: 33vw;
  margin-top: -65%;
  margin-left: 100%;
}


.bull {
  float: right;
  margin-top: -35%;
}

.global-img {
  float: left;
  margin-top: -35%;
  width: 40%;
}

.stock {
  float: left;
  margin-top: -35%;
  width: 40%;
  margin-left: 2%;
}

.loader {
  font-size: 20px;
  text-indent: -9999em;
  margin: 10px;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background: #ffffff;
  background: -moz-linear-gradient(
    left,
    #ffffff 10%,
    rgba(255, 255, 255, 0) 42%
  );
  background: -webkit-linear-gradient(
    left,
    #ffffff 10%,
    rgba(255, 255, 255, 0) 42%
  );
  background: -o-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -ms-linear-gradient(
    left,
    #ffffff 10%,
    rgba(255, 255, 255, 0) 42%
  );
  background: linear-gradient(
    to right,
    #ffffff 10%,
    rgba(255, 255, 255, 0) 42%
  );
  position: relative;
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.loader:before {
  width: 50%;
  height: 50%;
  background: #ffffff;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: "";
}
.loader:after {
  background: #000;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: "";
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.q1 {
  color: #fff;
  margin-top: -50%;
  text-align: center;
  font-family: "Bebas";
}

.fa {
  color: #fff;
  padding: 10px;
  font-family: "Coolvetica";
}

.todo {
  color: #fff;
  padding-left: 40px;
  margin-top: -7%;
}

.roadmap-head {
  color: transparent;
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  font-family: "Bebas";
  margin-top: -70%;
  color: aqua;
  -webkit-text-fill-color: black; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 0.8px;
  -webkit-text-stroke-color: aqua;
  font-size: 3rem;
  margin-left: 45%;
}
